rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    match /{allPaths=**} {
      // テスト環境では全てのアクセスを許可
      allow read, write: if true;
    }
  }
}
